body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 {
    font-size: 65px;
    letter-spacing: 0.23em;
    border-top: 3px solid #9cb4be;
    border-bottom: 3px solid #9cb4be;
    width: 640px;
    padding: 14px 0;
    margin: 0 auto;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #737373;
    margin-top: 40px;
    margin-bottom: 35px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    padding-top: 90px;
    background: #39697d url('../img/bg.jpg') no-repeat center top / cover;
    color: #ffffff;
    padding-bottom: 426px;
}

.mail {
    color: #ffffff;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    margin-top: 293px;
}

.offer p {
    text-align: center;
    font-size: 25px;
    color: #9db0b9;
    letter-spacing: 0.1em;
}

.man {
    width: 426px;
    height: 583px;
    background: url('../img/man.jpg');
}


.text {
    width: 610px;
}

.text p {
    color: #7f7f7f;
    line-height: 1.67em;
}

.button {
    margin-top: 60px;
    background: #ff2b4a;
    color: #ffffff;
    width: 202px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 13px 0;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about {
    padding-top: 114px;
}

.heading {
    padding-top: 112px;
    text-align: center;
}

.heading p {
    color: #7f7f7f;
    margin-top: 25px;
}

.process {
    background: #f6f6f6;
    padding-bottom: 100px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.steps li {
    width: 280px;
    height: 280px;
    background: #10c6fc;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.steps li:nth-child(2) {
    background: #835aeb;
}

.steps li:nth-child(3) {
    background: #002453;
}

.steps li:nth-child(4) {
    background: #ff2b4a;
}

.footer {
    background: #222222;
    color: #7f7f7f;
    font-style: 12px;
    padding: 20px 0;
}
.socials {
    display: flex;
    justify-content: center;
}
.socials a {
    color: #7f7f7f;
}


